<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Ponder</title>
</head>
<body>
    <nav class="ponder-nav">
        <div class="nav-left">
            <h1 id="ponder-logo">Ponder</h1>
            <p id="ponder-slogan">The Social Media for Anonymous Thinkpieces</p>
        </div>
        <div class="nav-right">
            <a>Login</a>
            <a> || </a>
            <a>Register</a>
        </div>
    </nav>
    <figure class="main-card">
        <h1>Tell me what's on your mind...</h1>
        {{{body}}}
    </figure>
</body>
</html>