<div class="the-pondcontainer" id="{{user.id}}">
    <div class="card pondercard">
    <h2 style="text-align:center">About Ponder</h2>
        <p class="card-text ponder-text">
            Ponder is a randomized social forum, whereby the user is able to 'Go Fish' from a pool of thoughts collected from all around the world, or post a thought themselves. The user has the option to create an account and post their thoughts, or 'Ponders,' under their username, but they can also elect to post anonymously. No account is necessary to use Ponder--anyone can join the conversation. However, only users with an account will be able to see a history of all their posts, and users posting anonymously will have a profanity filter applied to help curb toxicity.
        </p>
        <p class="card-text ponder-text">
            The user can post their Ponders under a specific category, or 'No Category' if preferred. There are no restrictions on what the user can post, as long as they are logged in. Similarly, the user can 'Go Fish' from a specific category and draw a random thread therefrom, or elect to draw a completely random thread with no category specified.
        </p>
        <p class="card-text ponder-text">
            Users can click on posts to be brought to their respective threads, wherein they can interact with the post by commenting, upvoting, and downvoting. Posts that have particularly high amounts of upvotes and downvotes will be featured on our 'Popular Ponders' (currently under development)! Aim to write a post that tops the list!
        </p>
        <p class="card-text ponder-text">
            Lastly, you can click on any user to view a history of their posts. You will need an account of your own, however, in order to see a history of your own posts. So join Ponder today!
        </p>
    </div>
    <div class="card pondercard">
    <h2 style="text-align:center">Our Team</h2>
        <p class="card-text ponder-text">
            Ponder was developed in just one week under the skilled hands of our development team, credited below, for our coding bootcamp's second dedicated project session. This was our first time working on a project with a dedicated backend, built from the ground up, and we have learned a lot about all aspects of fullstack development in the process. We hope you enjoy using Ponder as much as we've enjoyed and grown from creating it!
        </p>
    </div>
    <div class="teamcontainer">
        <div class="card teamcard">
            <a href="https://github.com/Chrisle206" target="blank">
            <img src="/images/chrisle206.jpg" class="teampic" alt="chris">

            <h2>Chrisle206</h2></a>
        </div>
        <div class="card teamcard">
            <a href="https://github.com/velkyam" target="blank">
            <img src="/images/velkyam.jpg" class="teampic" alt="dat">
            
            <h2>velkyam</h2></a>
        </div>
        <div class="card teamcard">
            <a href="https://github.com/shnala target="blank"">
            <img src="/images/shnala.jpg" class="teampic" alt="shawn">
            <h2>shnala</h2></a>
        </div>
        <div class="card teamcard">
               <a href="https://github.com/rabrigo" target="blank">
            <img src="/images/rabrigo.png" class="teampic" alt="ronnel">

         <h2>rabrigo</h2></a>
        </div>
    </div>

</div>