<select class="form-select">
  <option selected>What category?</option>
  <option value="1">Art</option>
  <option value="2">Philosophy</option>
  <option value="3">Community</option>
  <option value="4">Family</option>
  <option value="5">Romance and relationships</option>
</select>