<figure class="main-card">
        <h1>What's on your mind?</h1>
<div class="form-floating">
  <textarea class="form-control ponder-input" placeholder="Type your ponder here" id="floatingTextarea"></textarea>
</div>
<br>
<select class="form-select category-input">
  <option selected>What category?</option>
  <option value="1">Art</option>
  <option value="2">Philosophy</option>
  <option value="3">Community</option>
  <option value="4">Family</option>
  <option value="5">Romance and relationships</option>
</select>
<br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="anonymous-check" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Post anonymously?
  </label>
</div>
<br>
<button type="button" class="btn btn-success btn-lg cast-btn">Cast</button>
<a href = "/random"><button type="button" class="btn btn-danger btn-lg go-fishing-btn">Go fishing!</button></a>
 </figure>



 <div class="container">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        </div>