<figure class="main-card">
  <h2 id="ponder-slogan">The Social Media for Anonymous Thinkpieces</h2>
<div class="the-pond">
 <div class="formcontainer">
  <h2 class="input-header">What's on your mind?</h2>
<div class="form-floating">
  <textarea class="ponder-input"placeholder="Why should you pour cereals before milk?" id="floatingTextarea"></textarea>
</div>

<br>
<select class="form-select category-input">
  <option selected>What category?</option>
  <option value="1">Art</option>
  <option value="2">Philosophy</option>
  <option value="3">Community</option>
  <option value="4">Family</option>
  <option value="5">Romance and relationships</option>
</select>
<br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="anonymous-check" checked>
  <label class="form-check-label anonymous" for="flexCheckChecked">
    Post anonymously?
  </label>
</div>
<br>
<button type="button" class="btn btn-lg cast-btn">Cast</button>
</div>
<div class="righthalf" >
 <div class="ripplecontainer">
<a href = "/random"><button type="button" class="btn btn-lg fish-btn">Go Fish!</button></a>
        <button class="ripleo"></button>
        <button class="ripleo"></button>
        <button class="ripleo"></button>
        <button class="ripleo"></button>
        <button class="ripleo"></button>
        </div>
</div>
</div>
<h2 class="recents-title">Newest ponders:</h2>
<div class="recentponders">
  {{#each ponder}}
  <div class="card pondercard">
      <div class="card-body">
        <div class="ponder-username">{{User.username}}:</div>
        <p class="card-text ponder-text"><a href="/specific/{{id}}">"{{body}}"</a></p>
      </div>
    <div class="ponderbtns">
      {{!-- comment button --}}
      <button type="button" class="btn comment-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
      <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
      <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
      </svg></button>

    {{!-- Upvote button --}}
      <button type="button" class="btn upvote-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></button>

    {{!-- Downvote Button --}}
      <button type="button" class="btn downvote-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
</svg></button>
    </div>
  </div>
  {{/each}}

</div>
 </figure>