<figure class="the-pond">
    <p>U have no ponders</p>
<a href = "/random"><button type="button" class="btn btn-danger btn-lg go-fishing-btn">Go fishing!</button></a>
<button hidden type="button" class="btn btn-success btn-lg cast-btn">Cast</button>

</figure>