<figure class="the-pond">
    <div class="card pondercard">
        <p class="card-text ponder-text">This user has no Ponders.</p>
    </div>
<a href = "/random"><button type="button" class="btn btn-danger btn-lg go-fishing-btn">Go fishing!</button></a>
<button hidden type="button" class="btn btn-success btn-lg cast-btn">Cast</button>

</figure>