<figure class="the-pondcontainer">
    <div class="card pondercard">
        <p class="card-text noponder">There are no Ponders here!</p>
    </div>
<a href = "/random"><button type="button" class="btn btn-danger btn-lg go-fishing-btn">Go fishing!</button></a>
<button hidden type="button" class="btn btn-success btn-lg cast-btn">Cast</button>

</figure>