<div class="ponders">
    {{!-- {{#each ponders}} --}}
    <div class="card">
        User name
        {{!-- {{User.username}} --}}
        <div class="card-body">
            Ponder body here
            {{!-- {{body}} --}}
        </div>
    </div>
</div>