* {
   font-family: 'Metrophobic', 'Geneva', 'Verdana', sans-serif;
   --bg-color: white;
   --nav-font-color: rgb(11, 69, 11);
   --font-color-light: #ffffff;
   --font-color-dark: #000000;
   --pond-color: #8ACDEA;
   --pond-color-blue: #73abe7;
   --fish-color: #f8ffe5;
   --cast-color-dark: #037971;
   --palette-yellow: #f8f32b;
   --palette-rose: #f45b69;
   --mud: #846c5b;

}

a {
   color: var(--font-color-dark);
   text-decoration: none;
}

#ponder-logo {
    font-size: 60px;
    font-family: 'MuseoModerno', cursive;
    color: var(--font-color-light);
}

#ponder-slogan {
    color: var(--font-color-light);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 50px auto;
}

body {
    background: var(--pond-color);
    color: var(--font-color-dark);
}

.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   border-bottom: solid 2px var(--font-color-light);
   margin: 0 30px;
   padding: 0 30px;
   
}

.navleft{
   color: var(--font-color-light);
   display: flex;
   align-items: center;
}

.navright{
   display: flex;
   align-items: center;
}

.profile{
   color: var(--font-color-light);
   display: flex;
   align-items: center;
}
.profilemenu{
   display: none;
}
.loggedusername{
   color: var(--font-color-light);
}

#logins{
   display: block;
}
#loginsmobile{
   display: none;
}

.the-pond {
   display: flex;
   margin: 0 auto 50px;
   width: 800px;
   font-size: 25px;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid white 1px;
   padding-bottom: 50px;
}

.formcontainer{
   width: 50%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 30px;
   padding: 30px;
   background-color: white;
}

.fishcontainer{
   width: 250px;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 30px;
   padding: 15px;
   background-color: white;
   align-self: center;
   margin-top: 100px;
}
.category-select{
   width: 250px;
   z-index: 1;
   display: none;
}
.input-header{
   margin-bottom: 30px;
   text-align: center;
}

.ponder-input{
   font-size: 18px;
   width: 100%;
   min-height: 100px;
   border: none;
   box-shadow: 0px 0px 2px gray;
   border-radius: 10px;
   padding: 16px;
}

.form-check-input {
   width:20px;
   height:20px;
}

.anonymous{
   font-size: 18px;
   color: var(--font-color-dark);
}

#category-check {
   margin-top:0px;
   margin-bottom: 5px;
}
.category{
   font-size: 18px;
   color: var(--font-color-dark);
   align-self: center;
}

.righthalf{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.recentponders{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.recents-title{
   width: 800px;
   font-size: 24px;
   margin: 40px auto;

}

#logoutbtn{
   margin-left: 20px;
}

.signupbtn{
   background-color: var(--bg-color);
   color: black;
   margin-left: 10px;
}

.pondercardheader{
   background-color: var(--pond-color-dark);
}

.pondercard{
   width: 800px;
   background-color: white;
   margin: 14px;
   border: none;
   border-radius: 30px;
   padding: 50px;
}

.separator{
   width: 100%;
   background-color: var(--pond-color);
   height: 2px;
   margin: 0px auto 50px;
}

.comments-title{
   font-size: 20px;

}

.comment-text{
   margin: 30px 0;
}

.commentusername{
   color: var(--palette-rose)
}

.ponder-username {
   font-size: 24px;
   color: var(--pond-color-blue);
   font-weight: bold;
   margin: 10px 0px;
}

.ponder-text {
   font-size: 20px;
   margin: 40px 0 0 0;
}

.ponderbtns{
   margin: 10px 20px;
   display: flex;
   justify-content: flex-end;
}

.comment-btn {
   color: var(--font-color-dark)
}

.upvote-btn {
   color: green;
}

.downvote-btn {
   color: red;
}
.cast-btn{
   background-color: green;

   border-radius: 10px;
   color: var(--font-color-light);
   display: flex;
   align-items: center;
   justify-content: center;
}

.fish-btn {
   z-index: 1;
}

.newfishcontainer{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px;
}

.newfish-btn {
   background-color: var(--palette-rose);
   color: var(--font-color-light);
   border-radius: 20px;
   width: 200px;
   height: 60px;
}

/* image related css */
.imagecontainer{
   display: flex;
   align-items: center;
   justify-content: center;
}

.frogimage{
   width: 170px;
   position: fixed;
   bottom: 10px;
   left: 70px;
   z-index: 1;
}
.fishingimage{
   width: 300px;
   position: fixed;
   bottom: 50px;
   right: 80px;
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1) rotate(-20deg);
   z-index: 1;
}
.grassimage{
   width: 300px;
   position: fixed;
   bottom: 0px;
   right: 5px;
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);

}
.grassimage2{
   width: 300px;
   position: fixed;
   bottom: 0px;
   left: 5px;

}
.fishingrod{
   width: 22px;
   height: 22px;
   margin-left: 10px;

}

.fishimg{
   width: 100px;
   height: 100px;
}

.teampic{
   border-radius: 50%;
}

.fish{
z-index: 1;

}
.gofishheader{
   display: flex;
   justify-content: center;
   text-align: center;
   color: var(--font-color-light);
   margin-top: 10px;
}

.submit-btn{
   background-color: green;
   color: white;
   margin: 40px 0;
}

/* RIPPLE EFFECT */
.ripplecontainer{
    display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;

}
.container{
   display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.ripleo {
   position: absolute;
   animation: ripple 5s infinite;
   border-radius: 100%;
   border: none;
   background-color: var(--pond-color);
   box-shadow: inset 10px 10px 20px lightblue, inset -10px -10px 20px #ffffff;
   transition: 0.33s ease-in all;
   opacity: 0;
}

 .ripleo::after {
    content: "";
    display: block;
    border-radius: 100%;
    border: none;
    top: 0;
    left: 0;
 box-shadow: inset 10px 10px 20px lightblue,
             inset -10px -1px 20px #ffffff;
    opacity: 0;
    transition: 1s ease all;
 }

 .ripleo:hover {
    box-shadow: 0px 0px 0px #ffffff;
    opacity: 0;
    transform: scale(1);
 }

 .ripleo:hover::after {
    transition: 1s ease all;
    opacity: 1;
 }

@keyframes ripple {
   0% {
      width: 220px;
      height: 220px;
      opacity: 1;
   }
   100% {
      width: 300px;
      height: 300px;
      opacity: 0;
   }
}

.ripleo:nth-child(1) {
   animation-delay: 500ms;
}

.ripleo:nth-child(2) {
   animation-delay: 1000ms;
}

.ripleo:nth-child(3) {
   animation-delay: 1500ms;
}

.ripleo:nth-child(4) {
   animation-delay: 2000ms;
}

.ripleo:nth-child(5) {
   animation-delay: 2500ms;
}


@media screen and (max-width: 1024px) {
.nav{
height: auto;
margin: 0;

}
.navleft{
margin: 0 auto;

}
#ponder-logo {
}

#ponder-slogan {

   font-size: 24px;
   margin: 50px 30px;
}
.profilemenu{
   display:block;
   position: absolute;
   right: 30px;
   top: 20px;
   color: white;
}

#logins{
   display:none;
}
#loginsmobile{
   width: 100%;
   background-color: white;
   height: auto;
   justify-content: center;
}


.the-pond{
flex-direction: column;
justify-content: center;
width: 100%;

}
.formcontainer{
   width: 90%;
}
.fishcontainer{
   width: 100%;
}
.righthalf{
   margin-top: 100px;
}
.pondercard{
   width: 90%;
   min-width: none;
}
.recents-title{
   width: 100%;
   text-align: center;
}

}

.frogimage{
   display: none;
}
.fishingimage{
   display: none;
}
.grassimage{
   display: none;
}
.grassimage2{
   display: none;
}
