* {
    font-family: 'Nunito', 'Geneva', 'Verdana', sans-serif;
    /* --bg-color: #FDF3CC; */
    --bg-color: white;
    --nav-font-color: rgb(11, 69, 11);
    --font-color: #ffffff;
    --pond-color: #8ACDEA;
}

.ponder-nav {
    display: flex;
    color: var(--nav-font-color);
}

.nav-left-corner {
    color: var(--nav-font-color);
}

#ponder-logo {
    font-size: 60px;
}

#ponder-slogan {
    font-size: 20px;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
}

.main-card {
   background-color: var(--pond-color);
   height: 700px;
   width: 100%;
   margin: 20px auto;
   padding: 100px 50px;
   font-size: 25px;
   z-index: 300;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.formcontainer{
   width: 50%;
   height: auto;
}
.righthalf{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.ripplecontainer{
    display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   height: 400px;

}
.ripleo {
   position: absolute;
   animation: ripple 5s infinite;
   border-radius: 100%;
   border: none;
   background-color: var(--pond-color);
   box-shadow: inset 10px 10px 20px lightblue, inset -10px -10px 20px #ffffff;
   transition: 0.33s ease-in all;
   opacity: 0;
}

 .ripleo::after {
    content: "";
    display: block;
    border-radius: 100%;
    border: none;
    top: 0;
    left: 0;
 box-shadow: inset 10px 10px 20px lightblue,
             inset -10px -1px 20px #ffffff;
    opacity: 0;
    transition: 1s ease all;
 }

 .ripleo:hover {
    box-shadow: 0px 0px 0px #ffffff;
    opacity: 0;
    transform: scale(1);
 }

 .ripleo:hover::after {
    transition: 1s ease all;
    opacity: 1;
 }

@keyframes ripple {
   0% {
      width: 20px;
      height: 20px;
      opacity: 1;
   }
   100% {
      width: 400px;
      height: 400px;
      opacity: 0;
   }
}

.ripleo:nth-child(1) {
   animation-delay: 500ms;
}

.ripleo:nth-child(2) {
   animation-delay: 1000ms;
}

.ripleo:nth-child(3) {
   animation-delay: 1500ms;
}

.ripleo:nth-child(4) {
   animation-delay: 2000ms;
}

.ripleo:nth-child(5) {
   animation-delay: 2500ms;
}
